.contador{
    width: 200px;
    height: 200px;
    font-size: 3rem;
    color: rgb(38, 38, 38);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
}