* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.contenedor-padre{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

@media (max-width: 400px) {
   .contenedor-padre-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
} 
}

